@use './colors-variables' as colors;

/************************************************/
/* ✅ GÉNÉRATION DES CLASSES DE BORDURES
/************************************************/

/************************************************/
/*
/*            .border-color-width
/*
/************************************************/
/*
/*      color: primary, secondary, success, danger, warning, info, light, dark, body-bg, body, link, heading
/*      width: 1 to 10
/*
/************************************************/

@each $theme-name, $colors in colors.$themes {
  @each $color-name, $color-value in $colors {
    @for $i from 1 through 10 {
        html[theme=#{$theme-name}] .border-#{$color-name}-#{$i} { border-color: $color-value; border-width: #{$i * 1px}; border-style: solid; } 
    } 
  }
}

/************************************************/
/*
/*            .border-color-width-opacity
/*
/************************************************/
/*
/*      color: primary, secondary, success, danger, warning, info, light, dark, body-bg, body, link, heading
/*      width: 1 to 10
/*      opacity: 0 to 10
/*
/************************************************/

@each $theme-name, $colors in colors.$themes {
    @each $color-name, $color-value in $colors {
        @for $i from 0 through 10 {
            @for $j from 10 through 100 {
                @if $j%10 == 0 {
                    html[theme=#{$theme-name}] .border-#{$color-name}-#{$i}-#{$j} {
                        border-color: rgba(var(--custom-#{$color-name}-rgb), $j * 0.01);
                        border-width: #{$i * 1px};
                        border-style: solid;
                    }
                }
            }
        } 
    }
}

/************************************************/
/*
/*            .border-position-color-width-opacity
/*
/************************************************/
/*
/*      color: primary, secondary, success, danger, warning, info, light, dark, body-bg, body, link, heading
/*      position: top, right, bottom, left
/*      opacity: 0 to 10
/*
/************************************************/


$border-position: (
  "top": top,
  "right": right,
  "bottom": bottom,
  "left": left
);

@each $position-name, $position-value in $border-position {
    @each $theme-name, $colors in colors.$themes {
        @each $color-name, $color-value in $colors {
            @for $i from 0 through 10 {
                @for $j from 10 through 100 {
                    @if $j%10 == 0 {
                        html[theme=#{$theme-name}] .border-#{$position-value}-#{$color-name}-#{$i}-#{$j} {
                            border-#{$position-value}-color: rgba(var(--custom-#{$color-name}-rgb), $j * 0.01);
                            border-#{$position-value}-width: #{$i * 1px};
                            border-#{$position-value}-style: solid;
                        }
                    }
                }
            } 
        }
    }
}

/************************************************/
/*
/*      .box-shadow-position-color-spread-opacity
/*
/************************************************/
/*
/*      position: top, right, bottom, left
/*      color: primary, secondary, success, danger, warning, info, light, dark, body-bg, body, link, heading
/*      spread: 0 to 10
/*      opacity: 0 to 10
/*
/************************************************/

// $border-position: (
//   "top": top,
//   "right": right,
//   "bottom": bottom,
//   "left": left
// );

// @each $position-name, $position-value in $border-position {
//     @each $theme-name, $colors in colors.$themes {
//         @each $color-name, $color-value in $colors {
//             @for $i from 0 through 10 {
//                 @for $j from 0 through 10 {
//                     html[theme=#{$theme-name}] .box-shadow-#{$position-value}-#{$color-name}-#{$j}-#{$i} {
//                         box-shadow: if($position-value== 'top', 0 -4px, if($position-value== 'bottom', 0 4px, if($position-value== 'right', 4px 0, -4px 0))) #{$j * 2px} rgba(var(--custom-#{$color-name}-rgb),  $i * 0.01);
//                     }

//                 }
//             } 
//         }
//     }
// }
