// @use "sass:color";
/**********************************************/
// 🎨 Définition des palettes de couleurs
/**********************************************/
$themes: (
    "light": (
        "primary":   #93ce5f,
        "secondary": #5ba11e,
        "success":   #388E3C,
        "warning":   #FFB74D,
        "danger":    #D84315,
        "info":      #4FC3F7,
        "light":     #ffffff,
        "gray":      #ededed,
        "dark":      #1B5E20,
        "body-bg":   #E8F5E9,
        "body":      #425F0D,
        "link":      #388E3C,
    ),
    "dark": (
        "primary":   #93ce5f,
        "secondary": #5aa11c,
        "success":   #66BB6A,
        "warning":   #FFB74D,
        "danger":    #E57373,
        "info":      #4FC3F7,
        "light":     #000000,
        "gray":      #ededed,
        "dark":      #ffffff,
        "body-bg":   #121A13,
        "body":      #425F0D,
        "link":      #388E3C,
        "heading":   #425F0D 
    ),
    "accessibility-light": (
        "primary":   #1A1A1A,
        "secondary": #3B3B3B,
        "success":   #77D625,
        "warning":   #8C5100,
        "info":      #004488,
        "danger":    #7D0000,
        "body-bg":   #FAFAFA,
        "body":      #111111,
        "light":     #ffffff,
        "gray":      #ededed,
        "dark":      #000000,
        "link":      #004488,
        "heading":   #1A1A1A
    ),
    "accessibility-dark": (
        "primary":   #ffffff, 
        "secondary": #ffffff, 
        "success":   #77D625,
        "warning":   #AD5E00,
        "info":      #004488,
        "danger":    #990000,
        "body-bg":   #181818,
        "body":      #EAEAEA,
        "light":     #000000,
        "gray":      #ededed,
        "dark":      #F5F5F5,
        "link":      #88C0D0,
        "heading":   #EAEAEA
    )
);

$opacities: (
  "1": 0.1,
  "2": 0.2,
  "3": 0.3,
  "4": 0.4,
  "5": 0.5,
  "6": 0.6,
  "7": 0.7,
  "8": 0.8,
  "9": 0.9,
  "10": 1
); 

@each $theme-name, $colors in $themes {
    html[theme="#{$theme-name}"] {
      @each $color-name, $color-value in $colors {
        @each $opacity-name, $opacity-value in $opacities {
          // Utilisation correcte de rgba() avec Sass
          $r: red($color-value);
          $g: green($color-value);
          $b: blue($color-value);
  
          --custom-#{$color-name}-#{$opacity-name}: rgba(#{$r}, #{$g}, #{$b}, #{$opacity-value});
          --custom-#{$color-name}-rgb-#{$opacity-name}: #{$r}, #{$g}, #{$b};
        }
        --custom-#{$color-name}: #{$color-value};
        --custom-#{$color-name}-rgb: #{red($color-value)}, #{green($color-value)}, #{blue($color-value)};
      }
    }
  }
  
