@charset "UTF-8";
/**********************************************/
/**********************************************/
html[theme=light] {
  --custom-primary-1: rgba(147, 206, 95, 0.1);
  --custom-primary-rgb-1: 147, 206, 95;
  --custom-primary-2: rgba(147, 206, 95, 0.2);
  --custom-primary-rgb-2: 147, 206, 95;
  --custom-primary-3: rgba(147, 206, 95, 0.3);
  --custom-primary-rgb-3: 147, 206, 95;
  --custom-primary-4: rgba(147, 206, 95, 0.4);
  --custom-primary-rgb-4: 147, 206, 95;
  --custom-primary-5: rgba(147, 206, 95, 0.5);
  --custom-primary-rgb-5: 147, 206, 95;
  --custom-primary-6: rgba(147, 206, 95, 0.6);
  --custom-primary-rgb-6: 147, 206, 95;
  --custom-primary-7: rgba(147, 206, 95, 0.7);
  --custom-primary-rgb-7: 147, 206, 95;
  --custom-primary-8: rgba(147, 206, 95, 0.8);
  --custom-primary-rgb-8: 147, 206, 95;
  --custom-primary-9: rgba(147, 206, 95, 0.9);
  --custom-primary-rgb-9: 147, 206, 95;
  --custom-primary-10: rgba(147, 206, 95, 1);
  --custom-primary-rgb-10: 147, 206, 95;
  --custom-primary: #93ce5f;
  --custom-primary-rgb: 147, 206, 95;
  --custom-secondary-1: rgba(91, 161, 30, 0.1);
  --custom-secondary-rgb-1: 91, 161, 30;
  --custom-secondary-2: rgba(91, 161, 30, 0.2);
  --custom-secondary-rgb-2: 91, 161, 30;
  --custom-secondary-3: rgba(91, 161, 30, 0.3);
  --custom-secondary-rgb-3: 91, 161, 30;
  --custom-secondary-4: rgba(91, 161, 30, 0.4);
  --custom-secondary-rgb-4: 91, 161, 30;
  --custom-secondary-5: rgba(91, 161, 30, 0.5);
  --custom-secondary-rgb-5: 91, 161, 30;
  --custom-secondary-6: rgba(91, 161, 30, 0.6);
  --custom-secondary-rgb-6: 91, 161, 30;
  --custom-secondary-7: rgba(91, 161, 30, 0.7);
  --custom-secondary-rgb-7: 91, 161, 30;
  --custom-secondary-8: rgba(91, 161, 30, 0.8);
  --custom-secondary-rgb-8: 91, 161, 30;
  --custom-secondary-9: rgba(91, 161, 30, 0.9);
  --custom-secondary-rgb-9: 91, 161, 30;
  --custom-secondary-10: rgba(91, 161, 30, 1);
  --custom-secondary-rgb-10: 91, 161, 30;
  --custom-secondary: #5ba11e;
  --custom-secondary-rgb: 91, 161, 30;
  --custom-success-1: rgba(56, 142, 60, 0.1);
  --custom-success-rgb-1: 56, 142, 60;
  --custom-success-2: rgba(56, 142, 60, 0.2);
  --custom-success-rgb-2: 56, 142, 60;
  --custom-success-3: rgba(56, 142, 60, 0.3);
  --custom-success-rgb-3: 56, 142, 60;
  --custom-success-4: rgba(56, 142, 60, 0.4);
  --custom-success-rgb-4: 56, 142, 60;
  --custom-success-5: rgba(56, 142, 60, 0.5);
  --custom-success-rgb-5: 56, 142, 60;
  --custom-success-6: rgba(56, 142, 60, 0.6);
  --custom-success-rgb-6: 56, 142, 60;
  --custom-success-7: rgba(56, 142, 60, 0.7);
  --custom-success-rgb-7: 56, 142, 60;
  --custom-success-8: rgba(56, 142, 60, 0.8);
  --custom-success-rgb-8: 56, 142, 60;
  --custom-success-9: rgba(56, 142, 60, 0.9);
  --custom-success-rgb-9: 56, 142, 60;
  --custom-success-10: rgba(56, 142, 60, 1);
  --custom-success-rgb-10: 56, 142, 60;
  --custom-success: #388E3C;
  --custom-success-rgb: 56, 142, 60;
  --custom-warning-1: rgba(255, 183, 77, 0.1);
  --custom-warning-rgb-1: 255, 183, 77;
  --custom-warning-2: rgba(255, 183, 77, 0.2);
  --custom-warning-rgb-2: 255, 183, 77;
  --custom-warning-3: rgba(255, 183, 77, 0.3);
  --custom-warning-rgb-3: 255, 183, 77;
  --custom-warning-4: rgba(255, 183, 77, 0.4);
  --custom-warning-rgb-4: 255, 183, 77;
  --custom-warning-5: rgba(255, 183, 77, 0.5);
  --custom-warning-rgb-5: 255, 183, 77;
  --custom-warning-6: rgba(255, 183, 77, 0.6);
  --custom-warning-rgb-6: 255, 183, 77;
  --custom-warning-7: rgba(255, 183, 77, 0.7);
  --custom-warning-rgb-7: 255, 183, 77;
  --custom-warning-8: rgba(255, 183, 77, 0.8);
  --custom-warning-rgb-8: 255, 183, 77;
  --custom-warning-9: rgba(255, 183, 77, 0.9);
  --custom-warning-rgb-9: 255, 183, 77;
  --custom-warning-10: rgba(255, 183, 77, 1);
  --custom-warning-rgb-10: 255, 183, 77;
  --custom-warning: #FFB74D;
  --custom-warning-rgb: 255, 183, 77;
  --custom-danger-1: rgba(216, 67, 21, 0.1);
  --custom-danger-rgb-1: 216, 67, 21;
  --custom-danger-2: rgba(216, 67, 21, 0.2);
  --custom-danger-rgb-2: 216, 67, 21;
  --custom-danger-3: rgba(216, 67, 21, 0.3);
  --custom-danger-rgb-3: 216, 67, 21;
  --custom-danger-4: rgba(216, 67, 21, 0.4);
  --custom-danger-rgb-4: 216, 67, 21;
  --custom-danger-5: rgba(216, 67, 21, 0.5);
  --custom-danger-rgb-5: 216, 67, 21;
  --custom-danger-6: rgba(216, 67, 21, 0.6);
  --custom-danger-rgb-6: 216, 67, 21;
  --custom-danger-7: rgba(216, 67, 21, 0.7);
  --custom-danger-rgb-7: 216, 67, 21;
  --custom-danger-8: rgba(216, 67, 21, 0.8);
  --custom-danger-rgb-8: 216, 67, 21;
  --custom-danger-9: rgba(216, 67, 21, 0.9);
  --custom-danger-rgb-9: 216, 67, 21;
  --custom-danger-10: rgba(216, 67, 21, 1);
  --custom-danger-rgb-10: 216, 67, 21;
  --custom-danger: #D84315;
  --custom-danger-rgb: 216, 67, 21;
  --custom-info-1: rgba(79, 195, 247, 0.1);
  --custom-info-rgb-1: 79, 195, 247;
  --custom-info-2: rgba(79, 195, 247, 0.2);
  --custom-info-rgb-2: 79, 195, 247;
  --custom-info-3: rgba(79, 195, 247, 0.3);
  --custom-info-rgb-3: 79, 195, 247;
  --custom-info-4: rgba(79, 195, 247, 0.4);
  --custom-info-rgb-4: 79, 195, 247;
  --custom-info-5: rgba(79, 195, 247, 0.5);
  --custom-info-rgb-5: 79, 195, 247;
  --custom-info-6: rgba(79, 195, 247, 0.6);
  --custom-info-rgb-6: 79, 195, 247;
  --custom-info-7: rgba(79, 195, 247, 0.7);
  --custom-info-rgb-7: 79, 195, 247;
  --custom-info-8: rgba(79, 195, 247, 0.8);
  --custom-info-rgb-8: 79, 195, 247;
  --custom-info-9: rgba(79, 195, 247, 0.9);
  --custom-info-rgb-9: 79, 195, 247;
  --custom-info-10: rgba(79, 195, 247, 1);
  --custom-info-rgb-10: 79, 195, 247;
  --custom-info: #4FC3F7;
  --custom-info-rgb: 79, 195, 247;
  --custom-light-1: rgba(255, 255, 255, 0.1);
  --custom-light-rgb-1: 255, 255, 255;
  --custom-light-2: rgba(255, 255, 255, 0.2);
  --custom-light-rgb-2: 255, 255, 255;
  --custom-light-3: rgba(255, 255, 255, 0.3);
  --custom-light-rgb-3: 255, 255, 255;
  --custom-light-4: rgba(255, 255, 255, 0.4);
  --custom-light-rgb-4: 255, 255, 255;
  --custom-light-5: rgba(255, 255, 255, 0.5);
  --custom-light-rgb-5: 255, 255, 255;
  --custom-light-6: rgba(255, 255, 255, 0.6);
  --custom-light-rgb-6: 255, 255, 255;
  --custom-light-7: rgba(255, 255, 255, 0.7);
  --custom-light-rgb-7: 255, 255, 255;
  --custom-light-8: rgba(255, 255, 255, 0.8);
  --custom-light-rgb-8: 255, 255, 255;
  --custom-light-9: rgba(255, 255, 255, 0.9);
  --custom-light-rgb-9: 255, 255, 255;
  --custom-light-10: rgba(255, 255, 255, 1);
  --custom-light-rgb-10: 255, 255, 255;
  --custom-light: #ffffff;
  --custom-light-rgb: 255, 255, 255;
  --custom-gray-1: rgba(237, 237, 237, 0.1);
  --custom-gray-rgb-1: 237, 237, 237;
  --custom-gray-2: rgba(237, 237, 237, 0.2);
  --custom-gray-rgb-2: 237, 237, 237;
  --custom-gray-3: rgba(237, 237, 237, 0.3);
  --custom-gray-rgb-3: 237, 237, 237;
  --custom-gray-4: rgba(237, 237, 237, 0.4);
  --custom-gray-rgb-4: 237, 237, 237;
  --custom-gray-5: rgba(237, 237, 237, 0.5);
  --custom-gray-rgb-5: 237, 237, 237;
  --custom-gray-6: rgba(237, 237, 237, 0.6);
  --custom-gray-rgb-6: 237, 237, 237;
  --custom-gray-7: rgba(237, 237, 237, 0.7);
  --custom-gray-rgb-7: 237, 237, 237;
  --custom-gray-8: rgba(237, 237, 237, 0.8);
  --custom-gray-rgb-8: 237, 237, 237;
  --custom-gray-9: rgba(237, 237, 237, 0.9);
  --custom-gray-rgb-9: 237, 237, 237;
  --custom-gray-10: rgba(237, 237, 237, 1);
  --custom-gray-rgb-10: 237, 237, 237;
  --custom-gray: #ededed;
  --custom-gray-rgb: 237, 237, 237;
  --custom-dark-1: rgba(27, 94, 32, 0.1);
  --custom-dark-rgb-1: 27, 94, 32;
  --custom-dark-2: rgba(27, 94, 32, 0.2);
  --custom-dark-rgb-2: 27, 94, 32;
  --custom-dark-3: rgba(27, 94, 32, 0.3);
  --custom-dark-rgb-3: 27, 94, 32;
  --custom-dark-4: rgba(27, 94, 32, 0.4);
  --custom-dark-rgb-4: 27, 94, 32;
  --custom-dark-5: rgba(27, 94, 32, 0.5);
  --custom-dark-rgb-5: 27, 94, 32;
  --custom-dark-6: rgba(27, 94, 32, 0.6);
  --custom-dark-rgb-6: 27, 94, 32;
  --custom-dark-7: rgba(27, 94, 32, 0.7);
  --custom-dark-rgb-7: 27, 94, 32;
  --custom-dark-8: rgba(27, 94, 32, 0.8);
  --custom-dark-rgb-8: 27, 94, 32;
  --custom-dark-9: rgba(27, 94, 32, 0.9);
  --custom-dark-rgb-9: 27, 94, 32;
  --custom-dark-10: rgba(27, 94, 32, 1);
  --custom-dark-rgb-10: 27, 94, 32;
  --custom-dark: #1B5E20;
  --custom-dark-rgb: 27, 94, 32;
  --custom-body-bg-1: rgba(232, 245, 233, 0.1);
  --custom-body-bg-rgb-1: 232, 245, 233;
  --custom-body-bg-2: rgba(232, 245, 233, 0.2);
  --custom-body-bg-rgb-2: 232, 245, 233;
  --custom-body-bg-3: rgba(232, 245, 233, 0.3);
  --custom-body-bg-rgb-3: 232, 245, 233;
  --custom-body-bg-4: rgba(232, 245, 233, 0.4);
  --custom-body-bg-rgb-4: 232, 245, 233;
  --custom-body-bg-5: rgba(232, 245, 233, 0.5);
  --custom-body-bg-rgb-5: 232, 245, 233;
  --custom-body-bg-6: rgba(232, 245, 233, 0.6);
  --custom-body-bg-rgb-6: 232, 245, 233;
  --custom-body-bg-7: rgba(232, 245, 233, 0.7);
  --custom-body-bg-rgb-7: 232, 245, 233;
  --custom-body-bg-8: rgba(232, 245, 233, 0.8);
  --custom-body-bg-rgb-8: 232, 245, 233;
  --custom-body-bg-9: rgba(232, 245, 233, 0.9);
  --custom-body-bg-rgb-9: 232, 245, 233;
  --custom-body-bg-10: rgba(232, 245, 233, 1);
  --custom-body-bg-rgb-10: 232, 245, 233;
  --custom-body-bg: #E8F5E9;
  --custom-body-bg-rgb: 232, 245, 233;
  --custom-body-1: rgba(66, 95, 13, 0.1);
  --custom-body-rgb-1: 66, 95, 13;
  --custom-body-2: rgba(66, 95, 13, 0.2);
  --custom-body-rgb-2: 66, 95, 13;
  --custom-body-3: rgba(66, 95, 13, 0.3);
  --custom-body-rgb-3: 66, 95, 13;
  --custom-body-4: rgba(66, 95, 13, 0.4);
  --custom-body-rgb-4: 66, 95, 13;
  --custom-body-5: rgba(66, 95, 13, 0.5);
  --custom-body-rgb-5: 66, 95, 13;
  --custom-body-6: rgba(66, 95, 13, 0.6);
  --custom-body-rgb-6: 66, 95, 13;
  --custom-body-7: rgba(66, 95, 13, 0.7);
  --custom-body-rgb-7: 66, 95, 13;
  --custom-body-8: rgba(66, 95, 13, 0.8);
  --custom-body-rgb-8: 66, 95, 13;
  --custom-body-9: rgba(66, 95, 13, 0.9);
  --custom-body-rgb-9: 66, 95, 13;
  --custom-body-10: rgba(66, 95, 13, 1);
  --custom-body-rgb-10: 66, 95, 13;
  --custom-body: #425F0D;
  --custom-body-rgb: 66, 95, 13;
  --custom-link-1: rgba(56, 142, 60, 0.1);
  --custom-link-rgb-1: 56, 142, 60;
  --custom-link-2: rgba(56, 142, 60, 0.2);
  --custom-link-rgb-2: 56, 142, 60;
  --custom-link-3: rgba(56, 142, 60, 0.3);
  --custom-link-rgb-3: 56, 142, 60;
  --custom-link-4: rgba(56, 142, 60, 0.4);
  --custom-link-rgb-4: 56, 142, 60;
  --custom-link-5: rgba(56, 142, 60, 0.5);
  --custom-link-rgb-5: 56, 142, 60;
  --custom-link-6: rgba(56, 142, 60, 0.6);
  --custom-link-rgb-6: 56, 142, 60;
  --custom-link-7: rgba(56, 142, 60, 0.7);
  --custom-link-rgb-7: 56, 142, 60;
  --custom-link-8: rgba(56, 142, 60, 0.8);
  --custom-link-rgb-8: 56, 142, 60;
  --custom-link-9: rgba(56, 142, 60, 0.9);
  --custom-link-rgb-9: 56, 142, 60;
  --custom-link-10: rgba(56, 142, 60, 1);
  --custom-link-rgb-10: 56, 142, 60;
  --custom-link: #388E3C;
  --custom-link-rgb: 56, 142, 60;
}

html[theme=dark] {
  --custom-primary-1: rgba(147, 206, 95, 0.1);
  --custom-primary-rgb-1: 147, 206, 95;
  --custom-primary-2: rgba(147, 206, 95, 0.2);
  --custom-primary-rgb-2: 147, 206, 95;
  --custom-primary-3: rgba(147, 206, 95, 0.3);
  --custom-primary-rgb-3: 147, 206, 95;
  --custom-primary-4: rgba(147, 206, 95, 0.4);
  --custom-primary-rgb-4: 147, 206, 95;
  --custom-primary-5: rgba(147, 206, 95, 0.5);
  --custom-primary-rgb-5: 147, 206, 95;
  --custom-primary-6: rgba(147, 206, 95, 0.6);
  --custom-primary-rgb-6: 147, 206, 95;
  --custom-primary-7: rgba(147, 206, 95, 0.7);
  --custom-primary-rgb-7: 147, 206, 95;
  --custom-primary-8: rgba(147, 206, 95, 0.8);
  --custom-primary-rgb-8: 147, 206, 95;
  --custom-primary-9: rgba(147, 206, 95, 0.9);
  --custom-primary-rgb-9: 147, 206, 95;
  --custom-primary-10: rgba(147, 206, 95, 1);
  --custom-primary-rgb-10: 147, 206, 95;
  --custom-primary: #93ce5f;
  --custom-primary-rgb: 147, 206, 95;
  --custom-secondary-1: rgba(90, 161, 28, 0.1);
  --custom-secondary-rgb-1: 90, 161, 28;
  --custom-secondary-2: rgba(90, 161, 28, 0.2);
  --custom-secondary-rgb-2: 90, 161, 28;
  --custom-secondary-3: rgba(90, 161, 28, 0.3);
  --custom-secondary-rgb-3: 90, 161, 28;
  --custom-secondary-4: rgba(90, 161, 28, 0.4);
  --custom-secondary-rgb-4: 90, 161, 28;
  --custom-secondary-5: rgba(90, 161, 28, 0.5);
  --custom-secondary-rgb-5: 90, 161, 28;
  --custom-secondary-6: rgba(90, 161, 28, 0.6);
  --custom-secondary-rgb-6: 90, 161, 28;
  --custom-secondary-7: rgba(90, 161, 28, 0.7);
  --custom-secondary-rgb-7: 90, 161, 28;
  --custom-secondary-8: rgba(90, 161, 28, 0.8);
  --custom-secondary-rgb-8: 90, 161, 28;
  --custom-secondary-9: rgba(90, 161, 28, 0.9);
  --custom-secondary-rgb-9: 90, 161, 28;
  --custom-secondary-10: rgba(90, 161, 28, 1);
  --custom-secondary-rgb-10: 90, 161, 28;
  --custom-secondary: #5aa11c;
  --custom-secondary-rgb: 90, 161, 28;
  --custom-success-1: rgba(102, 187, 106, 0.1);
  --custom-success-rgb-1: 102, 187, 106;
  --custom-success-2: rgba(102, 187, 106, 0.2);
  --custom-success-rgb-2: 102, 187, 106;
  --custom-success-3: rgba(102, 187, 106, 0.3);
  --custom-success-rgb-3: 102, 187, 106;
  --custom-success-4: rgba(102, 187, 106, 0.4);
  --custom-success-rgb-4: 102, 187, 106;
  --custom-success-5: rgba(102, 187, 106, 0.5);
  --custom-success-rgb-5: 102, 187, 106;
  --custom-success-6: rgba(102, 187, 106, 0.6);
  --custom-success-rgb-6: 102, 187, 106;
  --custom-success-7: rgba(102, 187, 106, 0.7);
  --custom-success-rgb-7: 102, 187, 106;
  --custom-success-8: rgba(102, 187, 106, 0.8);
  --custom-success-rgb-8: 102, 187, 106;
  --custom-success-9: rgba(102, 187, 106, 0.9);
  --custom-success-rgb-9: 102, 187, 106;
  --custom-success-10: rgba(102, 187, 106, 1);
  --custom-success-rgb-10: 102, 187, 106;
  --custom-success: #66BB6A;
  --custom-success-rgb: 102, 187, 106;
  --custom-warning-1: rgba(255, 183, 77, 0.1);
  --custom-warning-rgb-1: 255, 183, 77;
  --custom-warning-2: rgba(255, 183, 77, 0.2);
  --custom-warning-rgb-2: 255, 183, 77;
  --custom-warning-3: rgba(255, 183, 77, 0.3);
  --custom-warning-rgb-3: 255, 183, 77;
  --custom-warning-4: rgba(255, 183, 77, 0.4);
  --custom-warning-rgb-4: 255, 183, 77;
  --custom-warning-5: rgba(255, 183, 77, 0.5);
  --custom-warning-rgb-5: 255, 183, 77;
  --custom-warning-6: rgba(255, 183, 77, 0.6);
  --custom-warning-rgb-6: 255, 183, 77;
  --custom-warning-7: rgba(255, 183, 77, 0.7);
  --custom-warning-rgb-7: 255, 183, 77;
  --custom-warning-8: rgba(255, 183, 77, 0.8);
  --custom-warning-rgb-8: 255, 183, 77;
  --custom-warning-9: rgba(255, 183, 77, 0.9);
  --custom-warning-rgb-9: 255, 183, 77;
  --custom-warning-10: rgba(255, 183, 77, 1);
  --custom-warning-rgb-10: 255, 183, 77;
  --custom-warning: #FFB74D;
  --custom-warning-rgb: 255, 183, 77;
  --custom-danger-1: rgba(229, 115, 115, 0.1);
  --custom-danger-rgb-1: 229, 115, 115;
  --custom-danger-2: rgba(229, 115, 115, 0.2);
  --custom-danger-rgb-2: 229, 115, 115;
  --custom-danger-3: rgba(229, 115, 115, 0.3);
  --custom-danger-rgb-3: 229, 115, 115;
  --custom-danger-4: rgba(229, 115, 115, 0.4);
  --custom-danger-rgb-4: 229, 115, 115;
  --custom-danger-5: rgba(229, 115, 115, 0.5);
  --custom-danger-rgb-5: 229, 115, 115;
  --custom-danger-6: rgba(229, 115, 115, 0.6);
  --custom-danger-rgb-6: 229, 115, 115;
  --custom-danger-7: rgba(229, 115, 115, 0.7);
  --custom-danger-rgb-7: 229, 115, 115;
  --custom-danger-8: rgba(229, 115, 115, 0.8);
  --custom-danger-rgb-8: 229, 115, 115;
  --custom-danger-9: rgba(229, 115, 115, 0.9);
  --custom-danger-rgb-9: 229, 115, 115;
  --custom-danger-10: rgba(229, 115, 115, 1);
  --custom-danger-rgb-10: 229, 115, 115;
  --custom-danger: #E57373;
  --custom-danger-rgb: 229, 115, 115;
  --custom-info-1: rgba(79, 195, 247, 0.1);
  --custom-info-rgb-1: 79, 195, 247;
  --custom-info-2: rgba(79, 195, 247, 0.2);
  --custom-info-rgb-2: 79, 195, 247;
  --custom-info-3: rgba(79, 195, 247, 0.3);
  --custom-info-rgb-3: 79, 195, 247;
  --custom-info-4: rgba(79, 195, 247, 0.4);
  --custom-info-rgb-4: 79, 195, 247;
  --custom-info-5: rgba(79, 195, 247, 0.5);
  --custom-info-rgb-5: 79, 195, 247;
  --custom-info-6: rgba(79, 195, 247, 0.6);
  --custom-info-rgb-6: 79, 195, 247;
  --custom-info-7: rgba(79, 195, 247, 0.7);
  --custom-info-rgb-7: 79, 195, 247;
  --custom-info-8: rgba(79, 195, 247, 0.8);
  --custom-info-rgb-8: 79, 195, 247;
  --custom-info-9: rgba(79, 195, 247, 0.9);
  --custom-info-rgb-9: 79, 195, 247;
  --custom-info-10: rgba(79, 195, 247, 1);
  --custom-info-rgb-10: 79, 195, 247;
  --custom-info: #4FC3F7;
  --custom-info-rgb: 79, 195, 247;
  --custom-light-1: rgba(0, 0, 0, 0.1);
  --custom-light-rgb-1: 0, 0, 0;
  --custom-light-2: rgba(0, 0, 0, 0.2);
  --custom-light-rgb-2: 0, 0, 0;
  --custom-light-3: rgba(0, 0, 0, 0.3);
  --custom-light-rgb-3: 0, 0, 0;
  --custom-light-4: rgba(0, 0, 0, 0.4);
  --custom-light-rgb-4: 0, 0, 0;
  --custom-light-5: rgba(0, 0, 0, 0.5);
  --custom-light-rgb-5: 0, 0, 0;
  --custom-light-6: rgba(0, 0, 0, 0.6);
  --custom-light-rgb-6: 0, 0, 0;
  --custom-light-7: rgba(0, 0, 0, 0.7);
  --custom-light-rgb-7: 0, 0, 0;
  --custom-light-8: rgba(0, 0, 0, 0.8);
  --custom-light-rgb-8: 0, 0, 0;
  --custom-light-9: rgba(0, 0, 0, 0.9);
  --custom-light-rgb-9: 0, 0, 0;
  --custom-light-10: rgba(0, 0, 0, 1);
  --custom-light-rgb-10: 0, 0, 0;
  --custom-light: #000000;
  --custom-light-rgb: 0, 0, 0;
  --custom-gray-1: rgba(237, 237, 237, 0.1);
  --custom-gray-rgb-1: 237, 237, 237;
  --custom-gray-2: rgba(237, 237, 237, 0.2);
  --custom-gray-rgb-2: 237, 237, 237;
  --custom-gray-3: rgba(237, 237, 237, 0.3);
  --custom-gray-rgb-3: 237, 237, 237;
  --custom-gray-4: rgba(237, 237, 237, 0.4);
  --custom-gray-rgb-4: 237, 237, 237;
  --custom-gray-5: rgba(237, 237, 237, 0.5);
  --custom-gray-rgb-5: 237, 237, 237;
  --custom-gray-6: rgba(237, 237, 237, 0.6);
  --custom-gray-rgb-6: 237, 237, 237;
  --custom-gray-7: rgba(237, 237, 237, 0.7);
  --custom-gray-rgb-7: 237, 237, 237;
  --custom-gray-8: rgba(237, 237, 237, 0.8);
  --custom-gray-rgb-8: 237, 237, 237;
  --custom-gray-9: rgba(237, 237, 237, 0.9);
  --custom-gray-rgb-9: 237, 237, 237;
  --custom-gray-10: rgba(237, 237, 237, 1);
  --custom-gray-rgb-10: 237, 237, 237;
  --custom-gray: #ededed;
  --custom-gray-rgb: 237, 237, 237;
  --custom-dark-1: rgba(255, 255, 255, 0.1);
  --custom-dark-rgb-1: 255, 255, 255;
  --custom-dark-2: rgba(255, 255, 255, 0.2);
  --custom-dark-rgb-2: 255, 255, 255;
  --custom-dark-3: rgba(255, 255, 255, 0.3);
  --custom-dark-rgb-3: 255, 255, 255;
  --custom-dark-4: rgba(255, 255, 255, 0.4);
  --custom-dark-rgb-4: 255, 255, 255;
  --custom-dark-5: rgba(255, 255, 255, 0.5);
  --custom-dark-rgb-5: 255, 255, 255;
  --custom-dark-6: rgba(255, 255, 255, 0.6);
  --custom-dark-rgb-6: 255, 255, 255;
  --custom-dark-7: rgba(255, 255, 255, 0.7);
  --custom-dark-rgb-7: 255, 255, 255;
  --custom-dark-8: rgba(255, 255, 255, 0.8);
  --custom-dark-rgb-8: 255, 255, 255;
  --custom-dark-9: rgba(255, 255, 255, 0.9);
  --custom-dark-rgb-9: 255, 255, 255;
  --custom-dark-10: rgba(255, 255, 255, 1);
  --custom-dark-rgb-10: 255, 255, 255;
  --custom-dark: #ffffff;
  --custom-dark-rgb: 255, 255, 255;
  --custom-body-bg-1: rgba(18, 26, 19, 0.1);
  --custom-body-bg-rgb-1: 18, 26, 19;
  --custom-body-bg-2: rgba(18, 26, 19, 0.2);
  --custom-body-bg-rgb-2: 18, 26, 19;
  --custom-body-bg-3: rgba(18, 26, 19, 0.3);
  --custom-body-bg-rgb-3: 18, 26, 19;
  --custom-body-bg-4: rgba(18, 26, 19, 0.4);
  --custom-body-bg-rgb-4: 18, 26, 19;
  --custom-body-bg-5: rgba(18, 26, 19, 0.5);
  --custom-body-bg-rgb-5: 18, 26, 19;
  --custom-body-bg-6: rgba(18, 26, 19, 0.6);
  --custom-body-bg-rgb-6: 18, 26, 19;
  --custom-body-bg-7: rgba(18, 26, 19, 0.7);
  --custom-body-bg-rgb-7: 18, 26, 19;
  --custom-body-bg-8: rgba(18, 26, 19, 0.8);
  --custom-body-bg-rgb-8: 18, 26, 19;
  --custom-body-bg-9: rgba(18, 26, 19, 0.9);
  --custom-body-bg-rgb-9: 18, 26, 19;
  --custom-body-bg-10: rgba(18, 26, 19, 1);
  --custom-body-bg-rgb-10: 18, 26, 19;
  --custom-body-bg: #121A13;
  --custom-body-bg-rgb: 18, 26, 19;
  --custom-body-1: rgba(66, 95, 13, 0.1);
  --custom-body-rgb-1: 66, 95, 13;
  --custom-body-2: rgba(66, 95, 13, 0.2);
  --custom-body-rgb-2: 66, 95, 13;
  --custom-body-3: rgba(66, 95, 13, 0.3);
  --custom-body-rgb-3: 66, 95, 13;
  --custom-body-4: rgba(66, 95, 13, 0.4);
  --custom-body-rgb-4: 66, 95, 13;
  --custom-body-5: rgba(66, 95, 13, 0.5);
  --custom-body-rgb-5: 66, 95, 13;
  --custom-body-6: rgba(66, 95, 13, 0.6);
  --custom-body-rgb-6: 66, 95, 13;
  --custom-body-7: rgba(66, 95, 13, 0.7);
  --custom-body-rgb-7: 66, 95, 13;
  --custom-body-8: rgba(66, 95, 13, 0.8);
  --custom-body-rgb-8: 66, 95, 13;
  --custom-body-9: rgba(66, 95, 13, 0.9);
  --custom-body-rgb-9: 66, 95, 13;
  --custom-body-10: rgba(66, 95, 13, 1);
  --custom-body-rgb-10: 66, 95, 13;
  --custom-body: #425F0D;
  --custom-body-rgb: 66, 95, 13;
  --custom-link-1: rgba(56, 142, 60, 0.1);
  --custom-link-rgb-1: 56, 142, 60;
  --custom-link-2: rgba(56, 142, 60, 0.2);
  --custom-link-rgb-2: 56, 142, 60;
  --custom-link-3: rgba(56, 142, 60, 0.3);
  --custom-link-rgb-3: 56, 142, 60;
  --custom-link-4: rgba(56, 142, 60, 0.4);
  --custom-link-rgb-4: 56, 142, 60;
  --custom-link-5: rgba(56, 142, 60, 0.5);
  --custom-link-rgb-5: 56, 142, 60;
  --custom-link-6: rgba(56, 142, 60, 0.6);
  --custom-link-rgb-6: 56, 142, 60;
  --custom-link-7: rgba(56, 142, 60, 0.7);
  --custom-link-rgb-7: 56, 142, 60;
  --custom-link-8: rgba(56, 142, 60, 0.8);
  --custom-link-rgb-8: 56, 142, 60;
  --custom-link-9: rgba(56, 142, 60, 0.9);
  --custom-link-rgb-9: 56, 142, 60;
  --custom-link-10: rgba(56, 142, 60, 1);
  --custom-link-rgb-10: 56, 142, 60;
  --custom-link: #388E3C;
  --custom-link-rgb: 56, 142, 60;
  --custom-heading-1: rgba(66, 95, 13, 0.1);
  --custom-heading-rgb-1: 66, 95, 13;
  --custom-heading-2: rgba(66, 95, 13, 0.2);
  --custom-heading-rgb-2: 66, 95, 13;
  --custom-heading-3: rgba(66, 95, 13, 0.3);
  --custom-heading-rgb-3: 66, 95, 13;
  --custom-heading-4: rgba(66, 95, 13, 0.4);
  --custom-heading-rgb-4: 66, 95, 13;
  --custom-heading-5: rgba(66, 95, 13, 0.5);
  --custom-heading-rgb-5: 66, 95, 13;
  --custom-heading-6: rgba(66, 95, 13, 0.6);
  --custom-heading-rgb-6: 66, 95, 13;
  --custom-heading-7: rgba(66, 95, 13, 0.7);
  --custom-heading-rgb-7: 66, 95, 13;
  --custom-heading-8: rgba(66, 95, 13, 0.8);
  --custom-heading-rgb-8: 66, 95, 13;
  --custom-heading-9: rgba(66, 95, 13, 0.9);
  --custom-heading-rgb-9: 66, 95, 13;
  --custom-heading-10: rgba(66, 95, 13, 1);
  --custom-heading-rgb-10: 66, 95, 13;
  --custom-heading: #425F0D;
  --custom-heading-rgb: 66, 95, 13;
}

html[theme=accessibility-light] {
  --custom-primary-1: rgba(26, 26, 26, 0.1);
  --custom-primary-rgb-1: 26, 26, 26;
  --custom-primary-2: rgba(26, 26, 26, 0.2);
  --custom-primary-rgb-2: 26, 26, 26;
  --custom-primary-3: rgba(26, 26, 26, 0.3);
  --custom-primary-rgb-3: 26, 26, 26;
  --custom-primary-4: rgba(26, 26, 26, 0.4);
  --custom-primary-rgb-4: 26, 26, 26;
  --custom-primary-5: rgba(26, 26, 26, 0.5);
  --custom-primary-rgb-5: 26, 26, 26;
  --custom-primary-6: rgba(26, 26, 26, 0.6);
  --custom-primary-rgb-6: 26, 26, 26;
  --custom-primary-7: rgba(26, 26, 26, 0.7);
  --custom-primary-rgb-7: 26, 26, 26;
  --custom-primary-8: rgba(26, 26, 26, 0.8);
  --custom-primary-rgb-8: 26, 26, 26;
  --custom-primary-9: rgba(26, 26, 26, 0.9);
  --custom-primary-rgb-9: 26, 26, 26;
  --custom-primary-10: rgba(26, 26, 26, 1);
  --custom-primary-rgb-10: 26, 26, 26;
  --custom-primary: #1A1A1A;
  --custom-primary-rgb: 26, 26, 26;
  --custom-secondary-1: rgba(59, 59, 59, 0.1);
  --custom-secondary-rgb-1: 59, 59, 59;
  --custom-secondary-2: rgba(59, 59, 59, 0.2);
  --custom-secondary-rgb-2: 59, 59, 59;
  --custom-secondary-3: rgba(59, 59, 59, 0.3);
  --custom-secondary-rgb-3: 59, 59, 59;
  --custom-secondary-4: rgba(59, 59, 59, 0.4);
  --custom-secondary-rgb-4: 59, 59, 59;
  --custom-secondary-5: rgba(59, 59, 59, 0.5);
  --custom-secondary-rgb-5: 59, 59, 59;
  --custom-secondary-6: rgba(59, 59, 59, 0.6);
  --custom-secondary-rgb-6: 59, 59, 59;
  --custom-secondary-7: rgba(59, 59, 59, 0.7);
  --custom-secondary-rgb-7: 59, 59, 59;
  --custom-secondary-8: rgba(59, 59, 59, 0.8);
  --custom-secondary-rgb-8: 59, 59, 59;
  --custom-secondary-9: rgba(59, 59, 59, 0.9);
  --custom-secondary-rgb-9: 59, 59, 59;
  --custom-secondary-10: rgba(59, 59, 59, 1);
  --custom-secondary-rgb-10: 59, 59, 59;
  --custom-secondary: #3B3B3B;
  --custom-secondary-rgb: 59, 59, 59;
  --custom-success-1: rgba(119, 214, 37, 0.1);
  --custom-success-rgb-1: 119, 214, 37;
  --custom-success-2: rgba(119, 214, 37, 0.2);
  --custom-success-rgb-2: 119, 214, 37;
  --custom-success-3: rgba(119, 214, 37, 0.3);
  --custom-success-rgb-3: 119, 214, 37;
  --custom-success-4: rgba(119, 214, 37, 0.4);
  --custom-success-rgb-4: 119, 214, 37;
  --custom-success-5: rgba(119, 214, 37, 0.5);
  --custom-success-rgb-5: 119, 214, 37;
  --custom-success-6: rgba(119, 214, 37, 0.6);
  --custom-success-rgb-6: 119, 214, 37;
  --custom-success-7: rgba(119, 214, 37, 0.7);
  --custom-success-rgb-7: 119, 214, 37;
  --custom-success-8: rgba(119, 214, 37, 0.8);
  --custom-success-rgb-8: 119, 214, 37;
  --custom-success-9: rgba(119, 214, 37, 0.9);
  --custom-success-rgb-9: 119, 214, 37;
  --custom-success-10: rgba(119, 214, 37, 1);
  --custom-success-rgb-10: 119, 214, 37;
  --custom-success: #77D625;
  --custom-success-rgb: 119, 214, 37;
  --custom-warning-1: rgba(140, 81, 0, 0.1);
  --custom-warning-rgb-1: 140, 81, 0;
  --custom-warning-2: rgba(140, 81, 0, 0.2);
  --custom-warning-rgb-2: 140, 81, 0;
  --custom-warning-3: rgba(140, 81, 0, 0.3);
  --custom-warning-rgb-3: 140, 81, 0;
  --custom-warning-4: rgba(140, 81, 0, 0.4);
  --custom-warning-rgb-4: 140, 81, 0;
  --custom-warning-5: rgba(140, 81, 0, 0.5);
  --custom-warning-rgb-5: 140, 81, 0;
  --custom-warning-6: rgba(140, 81, 0, 0.6);
  --custom-warning-rgb-6: 140, 81, 0;
  --custom-warning-7: rgba(140, 81, 0, 0.7);
  --custom-warning-rgb-7: 140, 81, 0;
  --custom-warning-8: rgba(140, 81, 0, 0.8);
  --custom-warning-rgb-8: 140, 81, 0;
  --custom-warning-9: rgba(140, 81, 0, 0.9);
  --custom-warning-rgb-9: 140, 81, 0;
  --custom-warning-10: rgba(140, 81, 0, 1);
  --custom-warning-rgb-10: 140, 81, 0;
  --custom-warning: #8C5100;
  --custom-warning-rgb: 140, 81, 0;
  --custom-info-1: rgba(0, 68, 136, 0.1);
  --custom-info-rgb-1: 0, 68, 136;
  --custom-info-2: rgba(0, 68, 136, 0.2);
  --custom-info-rgb-2: 0, 68, 136;
  --custom-info-3: rgba(0, 68, 136, 0.3);
  --custom-info-rgb-3: 0, 68, 136;
  --custom-info-4: rgba(0, 68, 136, 0.4);
  --custom-info-rgb-4: 0, 68, 136;
  --custom-info-5: rgba(0, 68, 136, 0.5);
  --custom-info-rgb-5: 0, 68, 136;
  --custom-info-6: rgba(0, 68, 136, 0.6);
  --custom-info-rgb-6: 0, 68, 136;
  --custom-info-7: rgba(0, 68, 136, 0.7);
  --custom-info-rgb-7: 0, 68, 136;
  --custom-info-8: rgba(0, 68, 136, 0.8);
  --custom-info-rgb-8: 0, 68, 136;
  --custom-info-9: rgba(0, 68, 136, 0.9);
  --custom-info-rgb-9: 0, 68, 136;
  --custom-info-10: rgba(0, 68, 136, 1);
  --custom-info-rgb-10: 0, 68, 136;
  --custom-info: #004488;
  --custom-info-rgb: 0, 68, 136;
  --custom-danger-1: rgba(125, 0, 0, 0.1);
  --custom-danger-rgb-1: 125, 0, 0;
  --custom-danger-2: rgba(125, 0, 0, 0.2);
  --custom-danger-rgb-2: 125, 0, 0;
  --custom-danger-3: rgba(125, 0, 0, 0.3);
  --custom-danger-rgb-3: 125, 0, 0;
  --custom-danger-4: rgba(125, 0, 0, 0.4);
  --custom-danger-rgb-4: 125, 0, 0;
  --custom-danger-5: rgba(125, 0, 0, 0.5);
  --custom-danger-rgb-5: 125, 0, 0;
  --custom-danger-6: rgba(125, 0, 0, 0.6);
  --custom-danger-rgb-6: 125, 0, 0;
  --custom-danger-7: rgba(125, 0, 0, 0.7);
  --custom-danger-rgb-7: 125, 0, 0;
  --custom-danger-8: rgba(125, 0, 0, 0.8);
  --custom-danger-rgb-8: 125, 0, 0;
  --custom-danger-9: rgba(125, 0, 0, 0.9);
  --custom-danger-rgb-9: 125, 0, 0;
  --custom-danger-10: rgba(125, 0, 0, 1);
  --custom-danger-rgb-10: 125, 0, 0;
  --custom-danger: #7D0000;
  --custom-danger-rgb: 125, 0, 0;
  --custom-body-bg-1: rgba(250, 250, 250, 0.1);
  --custom-body-bg-rgb-1: 250, 250, 250;
  --custom-body-bg-2: rgba(250, 250, 250, 0.2);
  --custom-body-bg-rgb-2: 250, 250, 250;
  --custom-body-bg-3: rgba(250, 250, 250, 0.3);
  --custom-body-bg-rgb-3: 250, 250, 250;
  --custom-body-bg-4: rgba(250, 250, 250, 0.4);
  --custom-body-bg-rgb-4: 250, 250, 250;
  --custom-body-bg-5: rgba(250, 250, 250, 0.5);
  --custom-body-bg-rgb-5: 250, 250, 250;
  --custom-body-bg-6: rgba(250, 250, 250, 0.6);
  --custom-body-bg-rgb-6: 250, 250, 250;
  --custom-body-bg-7: rgba(250, 250, 250, 0.7);
  --custom-body-bg-rgb-7: 250, 250, 250;
  --custom-body-bg-8: rgba(250, 250, 250, 0.8);
  --custom-body-bg-rgb-8: 250, 250, 250;
  --custom-body-bg-9: rgba(250, 250, 250, 0.9);
  --custom-body-bg-rgb-9: 250, 250, 250;
  --custom-body-bg-10: rgba(250, 250, 250, 1);
  --custom-body-bg-rgb-10: 250, 250, 250;
  --custom-body-bg: #FAFAFA;
  --custom-body-bg-rgb: 250, 250, 250;
  --custom-body-1: rgba(17, 17, 17, 0.1);
  --custom-body-rgb-1: 17, 17, 17;
  --custom-body-2: rgba(17, 17, 17, 0.2);
  --custom-body-rgb-2: 17, 17, 17;
  --custom-body-3: rgba(17, 17, 17, 0.3);
  --custom-body-rgb-3: 17, 17, 17;
  --custom-body-4: rgba(17, 17, 17, 0.4);
  --custom-body-rgb-4: 17, 17, 17;
  --custom-body-5: rgba(17, 17, 17, 0.5);
  --custom-body-rgb-5: 17, 17, 17;
  --custom-body-6: rgba(17, 17, 17, 0.6);
  --custom-body-rgb-6: 17, 17, 17;
  --custom-body-7: rgba(17, 17, 17, 0.7);
  --custom-body-rgb-7: 17, 17, 17;
  --custom-body-8: rgba(17, 17, 17, 0.8);
  --custom-body-rgb-8: 17, 17, 17;
  --custom-body-9: rgba(17, 17, 17, 0.9);
  --custom-body-rgb-9: 17, 17, 17;
  --custom-body-10: rgba(17, 17, 17, 1);
  --custom-body-rgb-10: 17, 17, 17;
  --custom-body: #111111;
  --custom-body-rgb: 17, 17, 17;
  --custom-light-1: rgba(255, 255, 255, 0.1);
  --custom-light-rgb-1: 255, 255, 255;
  --custom-light-2: rgba(255, 255, 255, 0.2);
  --custom-light-rgb-2: 255, 255, 255;
  --custom-light-3: rgba(255, 255, 255, 0.3);
  --custom-light-rgb-3: 255, 255, 255;
  --custom-light-4: rgba(255, 255, 255, 0.4);
  --custom-light-rgb-4: 255, 255, 255;
  --custom-light-5: rgba(255, 255, 255, 0.5);
  --custom-light-rgb-5: 255, 255, 255;
  --custom-light-6: rgba(255, 255, 255, 0.6);
  --custom-light-rgb-6: 255, 255, 255;
  --custom-light-7: rgba(255, 255, 255, 0.7);
  --custom-light-rgb-7: 255, 255, 255;
  --custom-light-8: rgba(255, 255, 255, 0.8);
  --custom-light-rgb-8: 255, 255, 255;
  --custom-light-9: rgba(255, 255, 255, 0.9);
  --custom-light-rgb-9: 255, 255, 255;
  --custom-light-10: rgba(255, 255, 255, 1);
  --custom-light-rgb-10: 255, 255, 255;
  --custom-light: #ffffff;
  --custom-light-rgb: 255, 255, 255;
  --custom-gray-1: rgba(237, 237, 237, 0.1);
  --custom-gray-rgb-1: 237, 237, 237;
  --custom-gray-2: rgba(237, 237, 237, 0.2);
  --custom-gray-rgb-2: 237, 237, 237;
  --custom-gray-3: rgba(237, 237, 237, 0.3);
  --custom-gray-rgb-3: 237, 237, 237;
  --custom-gray-4: rgba(237, 237, 237, 0.4);
  --custom-gray-rgb-4: 237, 237, 237;
  --custom-gray-5: rgba(237, 237, 237, 0.5);
  --custom-gray-rgb-5: 237, 237, 237;
  --custom-gray-6: rgba(237, 237, 237, 0.6);
  --custom-gray-rgb-6: 237, 237, 237;
  --custom-gray-7: rgba(237, 237, 237, 0.7);
  --custom-gray-rgb-7: 237, 237, 237;
  --custom-gray-8: rgba(237, 237, 237, 0.8);
  --custom-gray-rgb-8: 237, 237, 237;
  --custom-gray-9: rgba(237, 237, 237, 0.9);
  --custom-gray-rgb-9: 237, 237, 237;
  --custom-gray-10: rgba(237, 237, 237, 1);
  --custom-gray-rgb-10: 237, 237, 237;
  --custom-gray: #ededed;
  --custom-gray-rgb: 237, 237, 237;
  --custom-dark-1: rgba(0, 0, 0, 0.1);
  --custom-dark-rgb-1: 0, 0, 0;
  --custom-dark-2: rgba(0, 0, 0, 0.2);
  --custom-dark-rgb-2: 0, 0, 0;
  --custom-dark-3: rgba(0, 0, 0, 0.3);
  --custom-dark-rgb-3: 0, 0, 0;
  --custom-dark-4: rgba(0, 0, 0, 0.4);
  --custom-dark-rgb-4: 0, 0, 0;
  --custom-dark-5: rgba(0, 0, 0, 0.5);
  --custom-dark-rgb-5: 0, 0, 0;
  --custom-dark-6: rgba(0, 0, 0, 0.6);
  --custom-dark-rgb-6: 0, 0, 0;
  --custom-dark-7: rgba(0, 0, 0, 0.7);
  --custom-dark-rgb-7: 0, 0, 0;
  --custom-dark-8: rgba(0, 0, 0, 0.8);
  --custom-dark-rgb-8: 0, 0, 0;
  --custom-dark-9: rgba(0, 0, 0, 0.9);
  --custom-dark-rgb-9: 0, 0, 0;
  --custom-dark-10: rgba(0, 0, 0, 1);
  --custom-dark-rgb-10: 0, 0, 0;
  --custom-dark: #000000;
  --custom-dark-rgb: 0, 0, 0;
  --custom-link-1: rgba(0, 68, 136, 0.1);
  --custom-link-rgb-1: 0, 68, 136;
  --custom-link-2: rgba(0, 68, 136, 0.2);
  --custom-link-rgb-2: 0, 68, 136;
  --custom-link-3: rgba(0, 68, 136, 0.3);
  --custom-link-rgb-3: 0, 68, 136;
  --custom-link-4: rgba(0, 68, 136, 0.4);
  --custom-link-rgb-4: 0, 68, 136;
  --custom-link-5: rgba(0, 68, 136, 0.5);
  --custom-link-rgb-5: 0, 68, 136;
  --custom-link-6: rgba(0, 68, 136, 0.6);
  --custom-link-rgb-6: 0, 68, 136;
  --custom-link-7: rgba(0, 68, 136, 0.7);
  --custom-link-rgb-7: 0, 68, 136;
  --custom-link-8: rgba(0, 68, 136, 0.8);
  --custom-link-rgb-8: 0, 68, 136;
  --custom-link-9: rgba(0, 68, 136, 0.9);
  --custom-link-rgb-9: 0, 68, 136;
  --custom-link-10: rgba(0, 68, 136, 1);
  --custom-link-rgb-10: 0, 68, 136;
  --custom-link: #004488;
  --custom-link-rgb: 0, 68, 136;
  --custom-heading-1: rgba(26, 26, 26, 0.1);
  --custom-heading-rgb-1: 26, 26, 26;
  --custom-heading-2: rgba(26, 26, 26, 0.2);
  --custom-heading-rgb-2: 26, 26, 26;
  --custom-heading-3: rgba(26, 26, 26, 0.3);
  --custom-heading-rgb-3: 26, 26, 26;
  --custom-heading-4: rgba(26, 26, 26, 0.4);
  --custom-heading-rgb-4: 26, 26, 26;
  --custom-heading-5: rgba(26, 26, 26, 0.5);
  --custom-heading-rgb-5: 26, 26, 26;
  --custom-heading-6: rgba(26, 26, 26, 0.6);
  --custom-heading-rgb-6: 26, 26, 26;
  --custom-heading-7: rgba(26, 26, 26, 0.7);
  --custom-heading-rgb-7: 26, 26, 26;
  --custom-heading-8: rgba(26, 26, 26, 0.8);
  --custom-heading-rgb-8: 26, 26, 26;
  --custom-heading-9: rgba(26, 26, 26, 0.9);
  --custom-heading-rgb-9: 26, 26, 26;
  --custom-heading-10: rgba(26, 26, 26, 1);
  --custom-heading-rgb-10: 26, 26, 26;
  --custom-heading: #1A1A1A;
  --custom-heading-rgb: 26, 26, 26;
}

html[theme=accessibility-dark] {
  --custom-primary-1: rgba(255, 255, 255, 0.1);
  --custom-primary-rgb-1: 255, 255, 255;
  --custom-primary-2: rgba(255, 255, 255, 0.2);
  --custom-primary-rgb-2: 255, 255, 255;
  --custom-primary-3: rgba(255, 255, 255, 0.3);
  --custom-primary-rgb-3: 255, 255, 255;
  --custom-primary-4: rgba(255, 255, 255, 0.4);
  --custom-primary-rgb-4: 255, 255, 255;
  --custom-primary-5: rgba(255, 255, 255, 0.5);
  --custom-primary-rgb-5: 255, 255, 255;
  --custom-primary-6: rgba(255, 255, 255, 0.6);
  --custom-primary-rgb-6: 255, 255, 255;
  --custom-primary-7: rgba(255, 255, 255, 0.7);
  --custom-primary-rgb-7: 255, 255, 255;
  --custom-primary-8: rgba(255, 255, 255, 0.8);
  --custom-primary-rgb-8: 255, 255, 255;
  --custom-primary-9: rgba(255, 255, 255, 0.9);
  --custom-primary-rgb-9: 255, 255, 255;
  --custom-primary-10: rgba(255, 255, 255, 1);
  --custom-primary-rgb-10: 255, 255, 255;
  --custom-primary: #ffffff;
  --custom-primary-rgb: 255, 255, 255;
  --custom-secondary-1: rgba(255, 255, 255, 0.1);
  --custom-secondary-rgb-1: 255, 255, 255;
  --custom-secondary-2: rgba(255, 255, 255, 0.2);
  --custom-secondary-rgb-2: 255, 255, 255;
  --custom-secondary-3: rgba(255, 255, 255, 0.3);
  --custom-secondary-rgb-3: 255, 255, 255;
  --custom-secondary-4: rgba(255, 255, 255, 0.4);
  --custom-secondary-rgb-4: 255, 255, 255;
  --custom-secondary-5: rgba(255, 255, 255, 0.5);
  --custom-secondary-rgb-5: 255, 255, 255;
  --custom-secondary-6: rgba(255, 255, 255, 0.6);
  --custom-secondary-rgb-6: 255, 255, 255;
  --custom-secondary-7: rgba(255, 255, 255, 0.7);
  --custom-secondary-rgb-7: 255, 255, 255;
  --custom-secondary-8: rgba(255, 255, 255, 0.8);
  --custom-secondary-rgb-8: 255, 255, 255;
  --custom-secondary-9: rgba(255, 255, 255, 0.9);
  --custom-secondary-rgb-9: 255, 255, 255;
  --custom-secondary-10: rgba(255, 255, 255, 1);
  --custom-secondary-rgb-10: 255, 255, 255;
  --custom-secondary: #ffffff;
  --custom-secondary-rgb: 255, 255, 255;
  --custom-success-1: rgba(119, 214, 37, 0.1);
  --custom-success-rgb-1: 119, 214, 37;
  --custom-success-2: rgba(119, 214, 37, 0.2);
  --custom-success-rgb-2: 119, 214, 37;
  --custom-success-3: rgba(119, 214, 37, 0.3);
  --custom-success-rgb-3: 119, 214, 37;
  --custom-success-4: rgba(119, 214, 37, 0.4);
  --custom-success-rgb-4: 119, 214, 37;
  --custom-success-5: rgba(119, 214, 37, 0.5);
  --custom-success-rgb-5: 119, 214, 37;
  --custom-success-6: rgba(119, 214, 37, 0.6);
  --custom-success-rgb-6: 119, 214, 37;
  --custom-success-7: rgba(119, 214, 37, 0.7);
  --custom-success-rgb-7: 119, 214, 37;
  --custom-success-8: rgba(119, 214, 37, 0.8);
  --custom-success-rgb-8: 119, 214, 37;
  --custom-success-9: rgba(119, 214, 37, 0.9);
  --custom-success-rgb-9: 119, 214, 37;
  --custom-success-10: rgba(119, 214, 37, 1);
  --custom-success-rgb-10: 119, 214, 37;
  --custom-success: #77D625;
  --custom-success-rgb: 119, 214, 37;
  --custom-warning-1: rgba(173, 94, 0, 0.1);
  --custom-warning-rgb-1: 173, 94, 0;
  --custom-warning-2: rgba(173, 94, 0, 0.2);
  --custom-warning-rgb-2: 173, 94, 0;
  --custom-warning-3: rgba(173, 94, 0, 0.3);
  --custom-warning-rgb-3: 173, 94, 0;
  --custom-warning-4: rgba(173, 94, 0, 0.4);
  --custom-warning-rgb-4: 173, 94, 0;
  --custom-warning-5: rgba(173, 94, 0, 0.5);
  --custom-warning-rgb-5: 173, 94, 0;
  --custom-warning-6: rgba(173, 94, 0, 0.6);
  --custom-warning-rgb-6: 173, 94, 0;
  --custom-warning-7: rgba(173, 94, 0, 0.7);
  --custom-warning-rgb-7: 173, 94, 0;
  --custom-warning-8: rgba(173, 94, 0, 0.8);
  --custom-warning-rgb-8: 173, 94, 0;
  --custom-warning-9: rgba(173, 94, 0, 0.9);
  --custom-warning-rgb-9: 173, 94, 0;
  --custom-warning-10: rgba(173, 94, 0, 1);
  --custom-warning-rgb-10: 173, 94, 0;
  --custom-warning: #AD5E00;
  --custom-warning-rgb: 173, 94, 0;
  --custom-info-1: rgba(0, 68, 136, 0.1);
  --custom-info-rgb-1: 0, 68, 136;
  --custom-info-2: rgba(0, 68, 136, 0.2);
  --custom-info-rgb-2: 0, 68, 136;
  --custom-info-3: rgba(0, 68, 136, 0.3);
  --custom-info-rgb-3: 0, 68, 136;
  --custom-info-4: rgba(0, 68, 136, 0.4);
  --custom-info-rgb-4: 0, 68, 136;
  --custom-info-5: rgba(0, 68, 136, 0.5);
  --custom-info-rgb-5: 0, 68, 136;
  --custom-info-6: rgba(0, 68, 136, 0.6);
  --custom-info-rgb-6: 0, 68, 136;
  --custom-info-7: rgba(0, 68, 136, 0.7);
  --custom-info-rgb-7: 0, 68, 136;
  --custom-info-8: rgba(0, 68, 136, 0.8);
  --custom-info-rgb-8: 0, 68, 136;
  --custom-info-9: rgba(0, 68, 136, 0.9);
  --custom-info-rgb-9: 0, 68, 136;
  --custom-info-10: rgba(0, 68, 136, 1);
  --custom-info-rgb-10: 0, 68, 136;
  --custom-info: #004488;
  --custom-info-rgb: 0, 68, 136;
  --custom-danger-1: rgba(153, 0, 0, 0.1);
  --custom-danger-rgb-1: 153, 0, 0;
  --custom-danger-2: rgba(153, 0, 0, 0.2);
  --custom-danger-rgb-2: 153, 0, 0;
  --custom-danger-3: rgba(153, 0, 0, 0.3);
  --custom-danger-rgb-3: 153, 0, 0;
  --custom-danger-4: rgba(153, 0, 0, 0.4);
  --custom-danger-rgb-4: 153, 0, 0;
  --custom-danger-5: rgba(153, 0, 0, 0.5);
  --custom-danger-rgb-5: 153, 0, 0;
  --custom-danger-6: rgba(153, 0, 0, 0.6);
  --custom-danger-rgb-6: 153, 0, 0;
  --custom-danger-7: rgba(153, 0, 0, 0.7);
  --custom-danger-rgb-7: 153, 0, 0;
  --custom-danger-8: rgba(153, 0, 0, 0.8);
  --custom-danger-rgb-8: 153, 0, 0;
  --custom-danger-9: rgba(153, 0, 0, 0.9);
  --custom-danger-rgb-9: 153, 0, 0;
  --custom-danger-10: rgba(153, 0, 0, 1);
  --custom-danger-rgb-10: 153, 0, 0;
  --custom-danger: #990000;
  --custom-danger-rgb: 153, 0, 0;
  --custom-body-bg-1: rgba(24, 24, 24, 0.1);
  --custom-body-bg-rgb-1: 24, 24, 24;
  --custom-body-bg-2: rgba(24, 24, 24, 0.2);
  --custom-body-bg-rgb-2: 24, 24, 24;
  --custom-body-bg-3: rgba(24, 24, 24, 0.3);
  --custom-body-bg-rgb-3: 24, 24, 24;
  --custom-body-bg-4: rgba(24, 24, 24, 0.4);
  --custom-body-bg-rgb-4: 24, 24, 24;
  --custom-body-bg-5: rgba(24, 24, 24, 0.5);
  --custom-body-bg-rgb-5: 24, 24, 24;
  --custom-body-bg-6: rgba(24, 24, 24, 0.6);
  --custom-body-bg-rgb-6: 24, 24, 24;
  --custom-body-bg-7: rgba(24, 24, 24, 0.7);
  --custom-body-bg-rgb-7: 24, 24, 24;
  --custom-body-bg-8: rgba(24, 24, 24, 0.8);
  --custom-body-bg-rgb-8: 24, 24, 24;
  --custom-body-bg-9: rgba(24, 24, 24, 0.9);
  --custom-body-bg-rgb-9: 24, 24, 24;
  --custom-body-bg-10: rgba(24, 24, 24, 1);
  --custom-body-bg-rgb-10: 24, 24, 24;
  --custom-body-bg: #181818;
  --custom-body-bg-rgb: 24, 24, 24;
  --custom-body-1: rgba(234, 234, 234, 0.1);
  --custom-body-rgb-1: 234, 234, 234;
  --custom-body-2: rgba(234, 234, 234, 0.2);
  --custom-body-rgb-2: 234, 234, 234;
  --custom-body-3: rgba(234, 234, 234, 0.3);
  --custom-body-rgb-3: 234, 234, 234;
  --custom-body-4: rgba(234, 234, 234, 0.4);
  --custom-body-rgb-4: 234, 234, 234;
  --custom-body-5: rgba(234, 234, 234, 0.5);
  --custom-body-rgb-5: 234, 234, 234;
  --custom-body-6: rgba(234, 234, 234, 0.6);
  --custom-body-rgb-6: 234, 234, 234;
  --custom-body-7: rgba(234, 234, 234, 0.7);
  --custom-body-rgb-7: 234, 234, 234;
  --custom-body-8: rgba(234, 234, 234, 0.8);
  --custom-body-rgb-8: 234, 234, 234;
  --custom-body-9: rgba(234, 234, 234, 0.9);
  --custom-body-rgb-9: 234, 234, 234;
  --custom-body-10: rgba(234, 234, 234, 1);
  --custom-body-rgb-10: 234, 234, 234;
  --custom-body: #EAEAEA;
  --custom-body-rgb: 234, 234, 234;
  --custom-light-1: rgba(0, 0, 0, 0.1);
  --custom-light-rgb-1: 0, 0, 0;
  --custom-light-2: rgba(0, 0, 0, 0.2);
  --custom-light-rgb-2: 0, 0, 0;
  --custom-light-3: rgba(0, 0, 0, 0.3);
  --custom-light-rgb-3: 0, 0, 0;
  --custom-light-4: rgba(0, 0, 0, 0.4);
  --custom-light-rgb-4: 0, 0, 0;
  --custom-light-5: rgba(0, 0, 0, 0.5);
  --custom-light-rgb-5: 0, 0, 0;
  --custom-light-6: rgba(0, 0, 0, 0.6);
  --custom-light-rgb-6: 0, 0, 0;
  --custom-light-7: rgba(0, 0, 0, 0.7);
  --custom-light-rgb-7: 0, 0, 0;
  --custom-light-8: rgba(0, 0, 0, 0.8);
  --custom-light-rgb-8: 0, 0, 0;
  --custom-light-9: rgba(0, 0, 0, 0.9);
  --custom-light-rgb-9: 0, 0, 0;
  --custom-light-10: rgba(0, 0, 0, 1);
  --custom-light-rgb-10: 0, 0, 0;
  --custom-light: #000000;
  --custom-light-rgb: 0, 0, 0;
  --custom-gray-1: rgba(237, 237, 237, 0.1);
  --custom-gray-rgb-1: 237, 237, 237;
  --custom-gray-2: rgba(237, 237, 237, 0.2);
  --custom-gray-rgb-2: 237, 237, 237;
  --custom-gray-3: rgba(237, 237, 237, 0.3);
  --custom-gray-rgb-3: 237, 237, 237;
  --custom-gray-4: rgba(237, 237, 237, 0.4);
  --custom-gray-rgb-4: 237, 237, 237;
  --custom-gray-5: rgba(237, 237, 237, 0.5);
  --custom-gray-rgb-5: 237, 237, 237;
  --custom-gray-6: rgba(237, 237, 237, 0.6);
  --custom-gray-rgb-6: 237, 237, 237;
  --custom-gray-7: rgba(237, 237, 237, 0.7);
  --custom-gray-rgb-7: 237, 237, 237;
  --custom-gray-8: rgba(237, 237, 237, 0.8);
  --custom-gray-rgb-8: 237, 237, 237;
  --custom-gray-9: rgba(237, 237, 237, 0.9);
  --custom-gray-rgb-9: 237, 237, 237;
  --custom-gray-10: rgba(237, 237, 237, 1);
  --custom-gray-rgb-10: 237, 237, 237;
  --custom-gray: #ededed;
  --custom-gray-rgb: 237, 237, 237;
  --custom-dark-1: rgba(245, 245, 245, 0.1);
  --custom-dark-rgb-1: 245, 245, 245;
  --custom-dark-2: rgba(245, 245, 245, 0.2);
  --custom-dark-rgb-2: 245, 245, 245;
  --custom-dark-3: rgba(245, 245, 245, 0.3);
  --custom-dark-rgb-3: 245, 245, 245;
  --custom-dark-4: rgba(245, 245, 245, 0.4);
  --custom-dark-rgb-4: 245, 245, 245;
  --custom-dark-5: rgba(245, 245, 245, 0.5);
  --custom-dark-rgb-5: 245, 245, 245;
  --custom-dark-6: rgba(245, 245, 245, 0.6);
  --custom-dark-rgb-6: 245, 245, 245;
  --custom-dark-7: rgba(245, 245, 245, 0.7);
  --custom-dark-rgb-7: 245, 245, 245;
  --custom-dark-8: rgba(245, 245, 245, 0.8);
  --custom-dark-rgb-8: 245, 245, 245;
  --custom-dark-9: rgba(245, 245, 245, 0.9);
  --custom-dark-rgb-9: 245, 245, 245;
  --custom-dark-10: rgba(245, 245, 245, 1);
  --custom-dark-rgb-10: 245, 245, 245;
  --custom-dark: #F5F5F5;
  --custom-dark-rgb: 245, 245, 245;
  --custom-link-1: rgba(136, 192, 208, 0.1);
  --custom-link-rgb-1: 136, 192, 208;
  --custom-link-2: rgba(136, 192, 208, 0.2);
  --custom-link-rgb-2: 136, 192, 208;
  --custom-link-3: rgba(136, 192, 208, 0.3);
  --custom-link-rgb-3: 136, 192, 208;
  --custom-link-4: rgba(136, 192, 208, 0.4);
  --custom-link-rgb-4: 136, 192, 208;
  --custom-link-5: rgba(136, 192, 208, 0.5);
  --custom-link-rgb-5: 136, 192, 208;
  --custom-link-6: rgba(136, 192, 208, 0.6);
  --custom-link-rgb-6: 136, 192, 208;
  --custom-link-7: rgba(136, 192, 208, 0.7);
  --custom-link-rgb-7: 136, 192, 208;
  --custom-link-8: rgba(136, 192, 208, 0.8);
  --custom-link-rgb-8: 136, 192, 208;
  --custom-link-9: rgba(136, 192, 208, 0.9);
  --custom-link-rgb-9: 136, 192, 208;
  --custom-link-10: rgba(136, 192, 208, 1);
  --custom-link-rgb-10: 136, 192, 208;
  --custom-link: #88C0D0;
  --custom-link-rgb: 136, 192, 208;
  --custom-heading-1: rgba(234, 234, 234, 0.1);
  --custom-heading-rgb-1: 234, 234, 234;
  --custom-heading-2: rgba(234, 234, 234, 0.2);
  --custom-heading-rgb-2: 234, 234, 234;
  --custom-heading-3: rgba(234, 234, 234, 0.3);
  --custom-heading-rgb-3: 234, 234, 234;
  --custom-heading-4: rgba(234, 234, 234, 0.4);
  --custom-heading-rgb-4: 234, 234, 234;
  --custom-heading-5: rgba(234, 234, 234, 0.5);
  --custom-heading-rgb-5: 234, 234, 234;
  --custom-heading-6: rgba(234, 234, 234, 0.6);
  --custom-heading-rgb-6: 234, 234, 234;
  --custom-heading-7: rgba(234, 234, 234, 0.7);
  --custom-heading-rgb-7: 234, 234, 234;
  --custom-heading-8: rgba(234, 234, 234, 0.8);
  --custom-heading-rgb-8: 234, 234, 234;
  --custom-heading-9: rgba(234, 234, 234, 0.9);
  --custom-heading-rgb-9: 234, 234, 234;
  --custom-heading-10: rgba(234, 234, 234, 1);
  --custom-heading-rgb-10: 234, 234, 234;
  --custom-heading: #EAEAEA;
  --custom-heading-rgb: 234, 234, 234;
}

/************************************************/
#filter-container {
  width: 90%; /* S'assure qu'il prend toute la largeur */
  max-width: 90vw; /* S'assure qu'il ne dépasse pas la largeur de l'écran */
  margin-left: 15px;
  border: 0.5px solid var(--custom-primary-8);
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
}
#filter-container #chevron-left {
  color: var(--custom-primary);
  margin: 0 5px 0 0;
}
#filter-container #filter-abstract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
#filter-container #filter-abstract #line_1 {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--custom-primary);
}
#filter-container #filter-abstract #line_1 #filter-departure-address {
  display: block;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse le conteneur */
  text-overflow: ellipsis; /* Ajoute des points de suspension */
}
#filter-container #filter-abstract #line_1 #filter-right-arrow {
  color: var(--custom-primary-8);
}
#filter-container #filter-abstract #line_1 #filter-arrival-address {
  display: block;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse le conteneur */
  text-overflow: ellipsis; /* Ajoute des points de suspension */
}
#filter-container #filter-abstract #line_2 {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--custom-primary-6);
}
#filter-container #filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-primary);
  color: var(--custom-light);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  font-size: 0.7rem;
  font-weight: 400;
  cursor: pointer;
}
#filter-container #filter-button:hover {
  background-color: var(--custom-primary-8);
}

#search-result-container {
  display: flex;
  flex-direction: column;
}
#search-result-container #search-result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-result-container #search-result-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=search-result.css.map */