/* public/css/transitions.css */

/* Positionnement de base */
#page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  --animationTime:  0.5s;
}

.invisible {
  visibility: hidden;
}

@keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutLeft {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideInLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutRight {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(100%); opacity: 0; }
}



.slide-in-right {
  animation: slideInRight var(--animationTime) ease both;
}
.slide-out-left {
  animation: slideOutLeft var(--animationTime) ease both;
}
.slide-in-left {
  animation: slideInLeft var(--animationime) ease both;
}
.slide-out-right {
  animation: slideOutRight var(--animationTime) ease both;
}
