/* public/css/transitions.css */

/* Conteneur principal des fragments */
#page-container {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
  /* Classe pour l'entrée en fondu */
  .fade-in {
    animation: fadeIn 0.4s ease forwards;
  }
  
  /* Classe pour la sortie en fondu */
  .fade-out {
    animation: fadeOut 0.4s ease forwards;
  }
  
  /* Définition des animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  