@use "../variables" as variables;
/****************************************************/
/*                  image de fond                   */
/****************************************************/
.responsive-img {
    // display: none;
    width: 100%; 
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    // position: relative !important;
}
/****************************************************/
/*                  image de fond                   */
/****************************************************/
/*                  style grande taille             */
/****************************************************/
.cover {
    width: 100%; 
    height: 50vh; 
    object-fit: cover; /* Remplit l’espace */
    object-position: center top; /* Centre horizontalement, focus sur le haut */
}

.visible {
    display: block;
}