// @use 'sass:map';
@use '../variables' as variables;
/****************************************************/
/*               Menu th猫me (dropdown) 
/****************************************************/
.theme-icon {
    display: none;
}

/* Afficher l'ic么ne en fonction du mode actif */
[selected-theme="auto"] .icon-auto {
    display: flex !important;
}

[selected-theme="light"] .icon-light,
[selected-theme="dark"] .icon-dark,
[selected-theme="accessibility-light"] .icon-accessibility-light,
[selected-theme="accessibility-dark"] .icon-accessibility-dark {
    display: flex;
}

/* Masquer toutes les autres ic么nes en mode auto */
[selected-theme="auto"] .theme-icon:not(.icon-auto) {
    display: none !important;
}


.dropdown {
    position: absolute;
    top: 15%; /* Ajuste la distance depuis le haut */
    left: 50% !important;
    transform: translate(-50%, 15%) !important;
    z-index: 1050; /* S'assure que le menu est au-dessus */
    @media screen and (min-width: variables.$breakpoint) {
        top: 25%; /* Ajuste la distance depuis le haut */
        left: 50% !important;
        transform: translate(-50%, 25%) !important;
    }
}

.dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: max-content;
}

.dropdown-toggle::after {
    border-top-color: var(--custom-primary) !important; /* Change la couleur de la fl猫che */
}

.dropdown ul {
    background-color: var(--custom-light);
}
/*  formatage des ic么nes du menu th猫me */
.icon-color {
    fill: var(--custom-primary) !important;
    stroke: var(--custom-primary) !important;
    stroke-width: 1px;
}

button svg {
    width: 16px;
    height: 16px;
}

svg {
    color: var(--custom-primary); /* Devrait colorer l'ic么ne */
}

svg symbol path{
    stroke-width: 5px !important;
}

.dropdown-item {
    color: var(--custom-primary);
    &:hover {
        background-color: var(--custom-gray);
    }
}
// html[theme="dark"] .dropdown-item, html[theme="accessibility-dark"] .dropdown-item{
//     &:hover {
//        color: var(--custom-gray);
//        filter: brightness(100%);
//     }
// }