@use 'sass:map';
@use "styles/colors-variables" as colors;
@use "styles/global-styles";

// body {
//     margin: 0;
// }

$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);
$breakpoint: map.get($breakpoints, 'md');

#address {
    width: 100%;
}

#input-form {
    width: 100%;
}

html[theme="accesibility-light"] input.form-control:focus {
    border-color: var(--custom-primary);
}
html[theme="accesibility-dark"] input.form-control:focus {
    border-color: var(--custom-primary);
}

html[theme="light"] input.form-control:focus {
    box-shadow: none;
    border: 1px solid transparent;
}
html[theme="dark"] input.form-control:focus {
    box-shadow: none;
    border: 1px solid transparent;
}

.suggestions-container {
    display: flex; /* Active le flexbox pour le conteneur */
    justify-content: flex-start; /* Aligne les éléments à gauche */
    align-items: flex-start; /* Aligne les éléments en haut */
    flex-direction: column; /* Assure que les suggestions s'empilent verticalement */
    gap: 10px; /* Espacement entre chaque suggestion */
}

#suggestions div {
    max-width: 80%; /* Réduit la largeur des suggestions à 80% */
    margin: 0 auto; /* Centrer les suggestions dans leur conteneur */
    padding: 5px;
    display: flex;
    align-items: center; /* Aligne les icônes et le texte */
    border: 1px solid #ddd; /* Ajoute une bordure */
    border-radius: 5px; /* Arrondit les bords */
    background-color: #f9f9f9; /* Fond léger pour chaque suggestion */
    cursor: pointer; /* Change le curseur en main lors du survol */
}

#suggestions div:hover {
    background-color: #e0e0e0; /* Changer la couleur de fond au survol */
}

