@import "variables";


/*********************************************/
//  Gestion des ic么nes de th猫me
/*********************************************/
// /* Masquer toutes les ic么nes par d茅faut */
// .theme-icon {
//     display: none;
//   }

// /* Afficher l'ic么ne qui convient */
// $theme-icons: (
//     "auto": "auto",
//     "light": "light",
//     "dark": "dark",
//     "accessibility-dark": "accessibility-dark",
//     "accessibility-light": "accessibility-light"
// );

// @each $theme-name, $theme-icon in $theme-icons {
//     [data-bs-theme="#{$theme-name}"] .icon-#{$theme-icon} {
//         display: flex;
//     }
// }

/*  Gestion des ic么nes de th猫me */
.theme-icon {
    display: none;
}

/* Afficher l'ic么ne en fonction du mode actif */
[data-selected-theme="auto"] .icon-auto {
    display: flex !important;
}

[data-selected-theme="light"] .icon-light,
[data-selected-theme="dark"] .icon-dark,
[data-selected-theme="accessibility-light"] .icon-accessibility-light,
[data-selected-theme="accessibility-dark"] .icon-accessibility-dark {
    display: flex;
}

/* Masquer toutes les autres ic么nes en mode auto */
[data-selected-theme="auto"] .theme-icon:not(.icon-auto) {
    display: none !important;
}
