// @use "styles/colors-variables";
// @use "styles/global-styles";
@use "search-result/filter-container";
@use "search-result/search-result-container";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}